th {
  text-align: left;
  white-space: nowrap;
}

td {
  white-space: nowrap;
}

tfoot {
  text-align: right;
}

table {
  width: 100%;
}

#inventory {
  overflow-x: auto;
}

#totalI {
  text-align: center;
}

input[type="number"] {
  background-color: #1B2132;
  color: white;
  width: 100%;
  text-align: center;
}

input:invalid {
  border: 2px dashed red;
}
